# ignore all files for macOS Finder files
*
# Unignore all files with extensions
!*.*
# unignore directories
!*/
# re-ignore object files 
*.o

#unignore makefiles
!Makefile



# Other exclusions
.DS_Store
server/node_modules
